@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --purple: #733fc8;
  --gray: #48556a;
  --dark-gray: #19202d;
  --light-gray: #cfcfcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #ecf2f8;
  font-family: Barlow Semi Condensed;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 71px 24px 71px 24px;
}

.purple-section {
  background-color: var(--purple);
  width: 100%;
  padding: 26px 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px #48556a3f;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 90% 1%;
}

.avatar-box {
  display: flex;
  gap: 17px;
  align-items: center;
}

figure img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #733fc8;
}

.avatar-box h3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
}

.avatar-box p {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 50%;
  color: #fff;
}

.purple-section .txt {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin-top: 18px;
}

.purple-section .text {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--light-gray);
  margin-top: 40px;
}

.gray-section {
  background-color: var(--gray);
  padding: 26px 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px #48556a3f;
}

.gray-section .text1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-top: 18px;
}

.gray-section .txt1 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  opacity: 70%;
  margin-top: 16px;
}

.white-section {
  border-radius: 8px;
  padding: 26px 32px;
  box-shadow: 40px 60px 50px -47px #48556a3f;
  background-color: white;
}

.white-section .text2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--dark-gray);
  margin-top: 18px;
}

.white-section h3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--dark-gray);
}

.white-section p {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--gray);
  opacity: 50%;
}

.white-section .txt2 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 50%;
  color: var(--gray);
  margin-top: 16px;
}

.dark-section {
  background-color: var(--dark-gray);
  border-radius: 8px;
  padding: 26px 32px;
  box-shadow: 40px 60px 50px -47px #48556a3f;
}

.dark-section .text3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 18px;
  color: white;
}

.dark-section .txt3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  opacity: 70%;
  margin-top: 16px;
}

.light-section {
  background-color: white;
  padding: 26px 32px;
  box-shadow: 40px 60px 50px -47px #48556a3f;
  border-radius: 8px;
}

.light-section .avatar-box h3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--gray);
}

.light-section .avatar-box p {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--gray);
  opacity: 50%;
}

.light-section h2 {
  margin-top: 18px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--gray);
}

.light-section .txt5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 70%;
  color: var(--gray);
  margin-top: 16px;
}

.purple-section figure img {
  border: 2px solid #a775f1;
}

.light-section figure img,
.white-section figure img,
.gray-section figure img {
  border: none;
}
 
/* Desktop */ /* Desktop */ /* Desktop */

@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 80px 164px;
    gap: 30px;
  }

  .one {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .five {
    grid-column: 4;
    grid-row: 1 / 3;
  }

  .four {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .dark-section {
    height: 266px;
    width: 540px;
  }

  .gray-section {
    height: 282px;
    width: 255px;
  }

  .purple-section {
    height: 282px;
    width: 540px;
  }
  .purple-section .text {
    margin-top: 16px;
  }

  .light-section {
    height: 572px;
    width: 255px;
  }
  .white-section {
    height: 266px;
    width: 255px;
  }
}


@media (min-width: 1480px) {
  main{
    padding: 80px 210px;
  }
}
